*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* header stuff */
li, a {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background-color: #24252A;
}

a:link, a:visited {
  text-decoration: none;
}

.logo {
  width: 100px;
  height: 100px;
}

.nav_links {
  list-style: none;

}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 2rem;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  font-size: 2rem;
}
.nav_links li p {
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.nav_links li a:hover {
  color: #0088a9;
}
.nav_links li p:hover {
  color: #0088a9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* home page */
.homepage {
  background-color: darkgray;
  color: #edf0f1;
  height: 100%;
  width: 100%;
}

.hometitle {
  display: flex;
  justify-content: center;
}

.homebuttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  height: 70vh;
}

.homebuttons > div {
  margin-top: 20px;
}

#link1, #link2, #link3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20%;
  background-color: #24252A;
  border-radius: 20px;
  cursor: pointer;
  color:#edf0f1;
  font-size: 2.5rem;
}

#link1:hover, #link2:hover, #link3:hover {
  background-color: #383a41;
  transition: all 0.3s ease 0s;
}

#header1 {
  margin: 20px;;
  width: fit-content;
  height: auto;
  background-color:#0088a9 ;
  border-radius: 15px;
  text-align: center;
  color: bisque;
  padding: 10px;
}

#header1>h2 {
  margin: 20px;
  font-size: 2rem;
}


/* MuscleGroupPage.js */

.musclegrouppage {
  background-color: darkgray;
}

.nameworkout {
  padding: 10px;
  display: block;
  text-align: center;
}

.nameworkout>input {
  height: 50px;
  width: 50%;
  border-radius: 20px;
  margin: 30px 0;
  font-size: 2.5rem;
}

.submit {
  text-align: center;
}

.submit>button {
  height: 100px;
  width: 80vw;
  border-radius: 20px;;
  background-color: #24252A;
  cursor: pointer;
  font-size: 3rem;
  color:#edf0f1;
  margin: 20px
}

.submit>button:hover {
  background-color: #383a41;
  transition: all 0.3s ease 0s;
}

/* MuscleGroup.js */
.allgroups{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.musclegroup {
  cursor: pointer;
  text-align: center;
  width: 50vw;
  height: auto;
  border: 3px solid bisque;
  border-radius: 50px;
  background-color: #24252A;
  color: bisque;
  font-size: 2rem;
  margin: 15px;
  padding-bottom: 50px;
}

.musclegroup:hover {
  background-color: #383a41;
  transition: all 0.3s ease 0s;
}

.groupimg {
  height: 70%;
  width: 60%;
  margin-top: 10px;;
  border: 2px solid bisque;
  border-radius: 10px;
}
.select {
  text-align: center;
}

/* exercises list */
.exercises{
  text-align: center;
  margin: 20px;
}

.exerciseimg {
  margin-bottom: 30px;
  margin-top: 10px;;
}

.addworkout {
  width: auto;
  height: auto;
  font-size: 2rem;
  background-color: bisque;
  border-radius: 20px;
  cursor: pointer;
}

.addworkout:hover {
  background-color: blanchedalmond;
  transition: all 0.3s ease 0s;
}


form{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

/* my workout page */
#myworkouts { 
  background-color: #24252A;  
  padding-bottom: 10px;
  text-align: center;
  color: #edf0f1;
}

.workoutlist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.myworkout {
  cursor: pointer;
  display: block;
  color: #24252A;
  padding: 20px;
  font-size: 5rem;
}

.myworkout:hover {
  color: #0088a9;
  transition: all 0.3s ease 0s;

}

.myworkoutpage {
  background-color: darkgray;
  height: 100vh;
}

#addbutton {
  text-align: center;
  margin-top: 150px;
}

.addbutton {
  width: 50%;
  height: 10rem;
  border-radius: 25px;
  background-color: #24252A;
  color: #edf0f1;
  font-size: 16px;
  cursor: pointer;
  font-size: 3rem;
}

.addbutton:hover {
  background-color: #313239;
  transition: all 0.3s ease 0s;
}

/* indiv wokrout page */


.addexercise, .deleteexercise {
  width: 300px;
  height: 50px;
  border-radius: 25px;
  background-color: #24252A;
  color: #edf0f1;
  font-size: 16px;
  cursor: pointer;
  margin-top: 150px;
}

.addexercise:hover, .deleteexercise:hover {
  color: #0088a9;
  transition: all 0.3s ease 0s;
}

.addexercise {
  margin: 0 15px;
}

#exercisename {
color: darkblue
}

#sets {
  color: bisque;
}

#sets>button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}


.customworkout {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}

/* featured workout page */
.featured {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}


#indiv {
  width: auto;
  border: 5px solid bisque;
  border-radius: 15px;
  background-color: #24252A;
  color: #edf0f1;
  text-align: center;
  margin: 20px 50px;
  width: 300px;
  font-size: 2rem;
}

#indiv:hover {
  color: #0088a9;
  transition: all 0.3s ease 0s;
}

#featuredimg {
  width: 300px;
  height: auto;
}

/* featured workout id page */

.featuredworkout {
  display: flex;
  flex-direction: column;
}