*{
  font-family: 'Montserrat', sans-serif;
}

/* header stuff */
li, a {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252A;
}

#myworkouts { 
  background-color: #24252A;  
}

a:link, a:visited {
  text-decoration: none;
}

.logo {
  width: 100px;
  height: 100px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* home page */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homebutton {
  color: navy
}

/* MuscleGroupPage.js */

.musclegrouppage {
  background-color: darkgray;
}

.nameworkout {
  padding: 10px;
  display: block;
  text-align: center;
}

.nameworkout>input {
  height: 50px;
  width: 200px;
  border-radius: 20px;
}

.submit {
  text-align: center;
}

.submit>button {
  height: 100px;
  width: 80vw;
  border: 2px solid bisque;
  border-radius: 20px;;
  background-color: #24252A;
  cursor: pointer;
  font-size: larger;
  color: bisque;
}

.submit>button:hover {
  background-color: lightslategray
}


/* MuscleGroup.js */
.allgroups{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.musclegroup {
  cursor: pointer;
  text-align: center;
  width: 30vw;
  height: 20vh;
  border: 4px solid bisque;
  border-radius: 50px;
  background-color: #24252A;
  color: bisque;
  margin: 25px;
}

.groupimg {
  height: 60px;
  width: 100px;
}

/* exercises list */
.exercises{
  text-align: center;
}

.addworkout {
  width: auto;
  height: 50px;
  background-color: bisque;
  border-radius: 20px;
  cursor: pointer;
}

.addworkout:hover {
  background-color: blanchedalmond;
}


form{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

/* my workout page */
.myworkout {
  cursor: pointer;
  display: block;
}

#addbutton {
  position: absolute;
  bottom: 50%;
  left: 50%;
}
